<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="UTF-8">
	    <title>Gestione dei Trofei</title>
	  	<link rel="shortcut icon" href="/images/ball.png" type="image/svg">
	  	<link rel="stylesheet" href="/css/stile.css" />
	  	
	    <link rel="stylesheet" 
			th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
</head>

<body>
	
	<header th:replace="/fragments/base.html::intestazione"></header>	
	<div class="wrapper" style="top:35%;">
    	<div class="content" style="margin-top:10%;">
			<div class="container-entity">
			<div th:if="${trophies.isEmpty()}">Non ci sono trofei presenti nel database</div>
				<div  class="container-entity">
					<div th:if="${!trophies.isEmpty()}">
						<ul>
							<li th:each="trophy : ${trophies}">								
								<span class="entity">
									<img th:src="@{/image/trophy/{id}(id=${trophy.id})}"/>
									<h2><a href="trophy.html" th:href="@{'/admin' + '/formUpdateTrophy/' +${trophy.id}}" th:text="${trophy.name} + ' (' + ${trophy.date}+')'"></a></h2>
									<a th:href="@{'/admin' + '/deleteTrophy/' +${trophy.id}}"><img src="/images/trash.png"/></a>
								</span>
							</li>
						</ul>
					</div>
				</div>
			  </div>
 		</div>
	</div>
	
	 <footer th:replace="/fragments/base.html::footer"></footer>
	 
  </body>
</html>