<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title th:text="'Gestione trofei: '+${professional.name}+' ' +${professional.surname}"></title>
    <link rel="shortcut icon" href="/images/ball.png" type="image/svg">
    <link rel="stylesheet" href="/css/stile.css" />

    <link rel="stylesheet" 
        th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}" 
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
        crossorigin="anonymous" />
</head>

<body>
	
	<header th:replace="/fragments/base.html::intestazione"></header>
	
	<BR>
	<BR>
	<BR>
	<BR>
	<BR>

    <div class="wrapper">
		<div class="content">
	    	<div class="container-entity">
				<div th:if="${myTrophies.isEmpty()}">
					<h3 style="color:red;" th:text="'Attenzione: non ci sono trofei conseguiti dal professionista.'"></h3>	
					<h4 style="color:red;  margin-top: 3%;" th:text="'Lista dei trofei che possono essere aggiunti:'"></h4>
				</div>
				
				<div th:if="${size!=0}">	
					<h4 style="color:red;" th:text="'Trofei di'+' '+${professional.name}+' '+${professional.surname}"></h4>	
				</div>
					<ul style="margin-top:10%;" class="trophies">
						<li th:each="trophy : ${myTrophies}">
							<span  class="entity">
								<img th:src="@{/image/trophy/{id}(id=${trophy.id})}"  width="10%" />
								<H2><a th:text="${trophy.name}+ '( '+${trophy.date}+ ' )'"></a></H2>
								<a th:href="@{'/admin/removeTrophyFromProfessional/'+ ${trophy.id}+'/'+${professional.id}}">Cancella</a>
							</span>
						</li>
					</ul>
				
				
				<span>
					<h2 th:text="'Trofei disponibili per ' + ${professional.name}+ ' '+${professional.surname}"/>	
						<ul>
							<li th:each="trophy : ${trophies}">
								<span  class="entity">
									<img th:src="@{/image/trophy/{id}(id=${trophy.id})}"  width="10%" />
									<h2><a th:href="@{'/admin' +'/' + 'setTrophiesToProfessional' + '/' + ${trophy.id} + '/' + ${professional.id}}"
									th:text="${trophy.name} + ' '+ '( '+${trophy.date}+' )'"></a></h2>
								</span>	
							</li>	
						</ul>
				</span>
			</div>
		</div>
	</div>

	<footer th:replace="/fragments/base.html::footer"></footer>
</body>

</html>