<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="@{/css/favicon.ico}">
    <link rel="stylesheet" 
			th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />

    <!-- Import CSS -->
    <link th:href="@{/css/index.css}" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/stile.css" />

    <!-- Custom styles -->
    <link th:href="@{/css/carousel.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Indie+Flower"/>
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>

    <link rel="stylesheet" th:href="@{/css/colours.css}">
	
</head>
<body>
	<header th:fragment="intestazione" >
        <nav id="BG" class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:black;">
			
            <a class="navbar-brand" sec:authorize="isAnonymous() or hasAuthority('DEFAULT')" th:href="@{'/public/index'}"><img src="/images/logoSito.png" class="logo";/></a>
            <a class="navbar-brand" sec:authorize="hasAuthority('ADMIN')" th:href="@{'/admin/indexAdmin'}"><img src="/images/logoSito.png" class="logo"/></a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            
            
            
              <ul class="navbar-nav mr-auto" sec:authorize="hasAuthority('ADMIN')">
           	 		<li class="Siwfootball">
							<img src="/images/siwfootballad.png"/>
					</li>
			  </ul>
				
				
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto" sec:authorize="isAnonymous() or hasAuthority('DEFAULT')">
				
				<div class="dropdown">
                <li class="nav-item">
				 	<a class="nav-link dropdown-btn">Squadre</a>
 				 		<div class="dropdown-content">
    						<a class="nav-link" th:href="@{/public/teams}">Lista squadre</a>
    						<a class="nav-link" th:href="@{/public/formSearchTeams}">Ricerca squadre</a>
 				 		</div>
				</li>
			</div>
               
               <div class="dropdown">
               		<li class="nav-item">
				 		<a class="nav-link dropdown-btn">Professionisti</a>
 				 			<div class="dropdown-content">
    							<a class="nav-link" th:href="@{/public/professionals}">Lista professionisti</a>
    							<a class="nav-link" th:href="@{/public/formSearchProfessionals}">Ricerca professionisti</a>
 				 			</div>
					</li>
				</div>
				
				<div class="dropdown">
					<li class="nav-item" sec:authorize="hasAuthority('DEFAULT')">
				 		<a class="nav-link dropdown-btn">I miei preferiti</a>
 				 			<div class="dropdown-content">
    							<a class="nav-link" th:href="@{/default/myTeams}">Squadre</a>
    							<a class="nav-link" th:href="@{/default/myProfessionals}">Professionisti</a>
 				 			</div>
					</li>
				</div>
				
				
                <li class="Siwfootball">
				  <img src="/images/siwfootball.png"/>
				</li>
				
              </ul>

    
            	
            	<a class="registrazione btn btn-outline my-2 my-sm-0" sec:authorize="!isAuthenticated()" type="signup" style="position:fixed; top:9%; background-color:#ab9eb5;" th:href="@{/signup}">Registrazione</a>
            	
            	
            	<a style="background-color:#ab9eb5; position:fixed; top:9%;" class="log btn btn-outline my-2 my-sm-0" sec:authorize="isAuthenticated()" type="logout" th:href="@{/logout}">Logout</a>
                <a class="log btn btn-outline my-2 my-sm-0" sec:authorize="!isAuthenticated()" type="login" style="position:fixed; top:9%; background-color:#ab9eb5;" th:href="@{/login}">Login</a>
                
            </div>
        </nav>
  </header>


      <footer th:fragment="footer" alt="Footer">
		<img src="/images/footer.png" /> 
        <p>&copy;Copyright Mirko Abballe</p>
      </footer>
</body>


</html>